<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yingted.yelpinfractions">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Show Region of Waterloo health inspections in Yelp" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>
